{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}  {% endblock title %}</title>
	<link rel='stylesheet' href='{% static 'css/style.css' %}'>
	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
	<script src="https://cdn.jsdelivr.net/npm/alpinejs@2"></script>


</head>
<body class="antialiased sans-serif bg-gray-200" class="h-full">
	<div x-data="app()" x-cloak>
		<div class="bg-white shadow">
			<div class="container mx-auto px-4 py-2 md:py-3">
				<div class="flex justify-between items-center">
					<div class="text-lg md:text-xl font-bold text-gray-800"><a href="{%url 'home'%}" style="text-style:none; color:black;">Twitter Clone</a></div>
					{% if first_letter or user.is_authenticated %}
						<div class="relative" x-data="{ open: false }" x-cloak>
							<div @click="open = !open"
								class="cursor-pointer font-bold w-10 h-10 bg-blue-200 text-blue-600 flex items-center justify-center rounded-full">
								{% if user.profile.image %}
                            	<img class="rounded-full" src='{{user.profile.image.url}}'>
                            	{% else %}
                            	<img src='https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png'>
                            	{% endif %}
							</div>

							<div x-show.transition="open" @click.away="open = false"
								class="absolute top-0 mt-12 right-0 w-48 bg-white py-2 shadow-md border border-gray-100 rounded-lg z-40">
								<a href="{% url 'user_profile' request.user.username %}" class="block px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600"> Profile</a>
								<a href="{% url 'update-profile' %}" class="block px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600">Edit
									Profile</a>
								<a href="{% url 'logout'%}" class="block px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600">Sign
									Out</a>
							</div>
						</div>
					{% else %}
					<div class="hidden md:block">
						<div class="ml-10 flex items-baseline space-x-4">
						    <a href="{% url "login" %}" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Log in</a>
							<a href="{% url "signup" %}" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Sign up</a>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
    </div>
		
	{% block content %}

	{% endblock content %}

	<div class="container mx-auto">
		<div class="pb-10 text-center">
			<p class="text-gray-600">Created by <a class="text-blue-600 hover:text-blue-500 border-b-2 border-blue-200 hover:border-blue-300" href="https://twitter.com/mithicher">Zarnigor</a>. Built with <a class="text-blue-600 hover:text-blue-500 border-b-2 border-blue-200 hover:border-blue-300" href="https://tailwindcss.com/">tailwindCSS</a>, <a href="https://github.com/alpinejs/alpine" class="text-blue-600 hover:text-blue-500 border-b-2 border-blue-200 hover:border-blue-300">AlpineJS</a> and <a class="text-blue-600 hover:text-blue-500 border-b-2 border-blue-200 hover:border-blue-300" href="https://jestov.com/grid-gallery">Grid Gallery</a>.</p>
		</div>
	</div>
	<script src='{% static 'js/style.js' %}'></script>

</body>
</html>